html {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

svg.marbles .marble-line {
  stroke: #aaa;
  stroke-width: 1px;
}
 
svg.marbles .marble {
  fill: rgb(250, 112, 19);
  stroke: #F50D0D;
  stroke-width: 4px;
}

article.streams {
  background: #eee;
  padding: 20px 0;
}

.marble-stream {
  padding: 20px;
  display: inline-block;
}

.marble-stream h2 {
  margin: 0 0 -15px 0;
  color: #444;
  font-style: italic;
}
