svg {
  font: 10px sans-serif;
}

#marbles .border {
  fill: #f0f0f0;
  stroke: #aaa;
  stroke-width: 1px;
}
 
#marbles .marble {
  fill: rgb(250, 112, 19);
  stroke: #F50D0D;
  stroke-width: 4px;
}
 
#marbles .axis path,
#marbles .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
