svg {
  font: 10px sans-serif;
}
 
#marbles .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

#marbles .marble {
  fill: rgba(250, 112, 19, 0.73);
  stroke: #F50D0D;
  stroke-width: 4px;
}
 
#marbles .axis path,
#marbles .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
